{% extends "base.html" %}


{% block js %}
{% endblock %}

<div class="left">                
{% include "nav.html" %}
</div>
{% block main %}
<div class="from_top">
<div class="contentz">
  <div class="row">
            <div class="col-md-10">
              <div class="top-ads">
                {% include "top-ads.html"%}
            </div>
        </div>
  </div>
				<div id="mid-col">
          <div class="name">TERMS OF USE</div>	
          <div class="row">
            <div class="col-md-1">
                  
            </div>
            <div class="col-md-7">
              <hr>
              <div class="st-text">

<p><font color="#808080">Q: 
How do I navigate your site? How do I use the Phone Finder? How do I use the 360° view? How do I find out what a term means in the specifications? How do I compare specifications? How do I use the comment system? How do I use your still image/video quality charts? How do I navigate through a review?</font><br>
<br>
A: Check out our video site tour. It answers all of these questions, and many more.</p>
		
<p><object width="580" height="350"><param name="movie" value="http://www.youtube.com/v/_GkqSoe_348?fs=1&amp;hl=en_US&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_GkqSoe_348?fs=1&amp;hl=en_US&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="350"></embed></object></p>		
	
<p><font color="#808080">Q: 
Do you sell phones or tablets?</font><br>
<br>
A: 
NO. While you will see certain areas across our site which lead you to other sites that sell phones and other electronics, GSMArena.com is here to help you choose a device. You can see features, compare against other devices and get user opinions, but you <b>CANNOT</b> buy from our site.</p>	
	
<p><font color="#808080">Q: 
Can I send you my phone for repairs or upgrades?</font><br>
<br>
A: 
No, we do not upgrade or repair phones/tablets.</p>		
	
<p><font color="#808080">Q: 
Why do you have a main site and a blog? Wouldn't it be easier to just have one site?</font><br>
<br>
A: 
The purpose of the GSMArena blog is two-fold. First and foremost, our aim has always been to provide a comprehensive look at the mobile industry as a whole. As such, our blog provides us with an outlet to report news from other sectors which may impact the mobile world in one way or another. <br />
<br />
Secondly, our blog serves as means by which our editors can report in a more personal, subjective manner. We feel that our editors are as impassioned by technology at least as much as our readers are, and our blog provides a canvas for them to share their interests freely. Whether it be through editorials or even personal hobbies, the blog will provide you with a glimpse into the interests of the people behind GSMArena.</p>		
	
<p><font color="#808080">Q: 
Why do you insist on Facebook integration for your comment system?</font><br>
<br>
A: 
Contrary to popular opinion, Facebook login is not mandatory to post a comment on our site. Simply type in your desired text and click on the 'Submit button. Your comment should show up as soon as it has passed through our moderation system.<br />
<br />
Alternatively, if you don't have a Facebook account and you are concerned about your privacy, you can create a blank Facebook account just for our commenting system.<br />
<br />
Facebook integration has been implemented into our site to make it easy for you to enjoy the additional features a dedicated login system can provide, such as one-click login, without us having to store any of your identifiable information on our end. For more info on why we use Facebook, check out <a href="http://www.gsmarena.com/whyregister.php3">this</a> page. </p>		

<p><font color="#808080">Q: 
Why can't I filter by category X in your Phone Finder?</font><br>
<br>
A: 
Mobile technology has advanced in great leaps and strides since the inception of our site, particularly in recent years with the advent of smartphones. Many upcoming flagships strive to offer the latest and greatest to capture consumer interest, each outdoing the other with the latest tech wizardry ranging from higher quality displays and processing cores all the way to thickness and connectivity features. <br />
<br />
With the vast quantity of new cutting-edge technology being stuffed into handsets and tablets-not to mention improved software capabilities-it is nearly impossible to filter each of the latest features into distinct categories. Nonetheless, in such cases where we are unable to categorize a particular feature, we always include it as an extra within the phone specifications. These extras can be browsed by using the 'Free text' tool located at the bottom of our Phone Finder. Just type in your keyword and the phone finder will only show results which contain your query, in addition to any other filters you have selected.
</p>	

<p><font color="#808080">Q: 
There are some terms missing from your glossary.</font><br>
<br>
A: 
Feel free let us know about any mobile terms you feel could be added to our glossary. We, as well as other users like yourself who might not be familiar with the term, thank you. You can also let us know about any glossary terms that are incorrect or could be updated. The best way to do this is by using the 'contact us' button at the top of our site. </p>	

<p><font color="#808080">Q: 
How can I find out if a particular device will work in my country?</font><br>
<br>
A: 
You can use our comprehensive Coverage guide, accessed from the top of our site. Once you find out which bands operate in your country, you can cross-reference them with the bands listed at the top of your chosen device's specification page.</p>	

<p><font color="#808080">Q: 
I see that a phone has a very good rating, but it is not listed in the Top 5 on the front page. Why?</font><br>
<br>
A: 
Only the phones listed as 'Available' and with more than 1000 votes are included in the Top 5 Phones list.</p>	

<p><font color="#808080">Q: 
I am sure that the information in your catalog for a particular device is not exact. Why is that so?</font><br>
<br>
A: 
We gather our information mainly from the web sites of manufacturers. Some of them provide very detailed information, others not so much. In the latter case, we sometimes have to resort to other sources which are not as reliable. These include other catalogs, message boards and phone sellers' websites. If you think that there is incorrect data in the catalog for your phone, please  <script>document.write ("<a href=\"mailto:inf"+"o@gsmaren"+"a.com"+"\">")</script>sends 
        us an email</a> with the correct data, as well as where you found it, if possible. We thank you in advance.</p>	

<p><font color="#808080">Q: 
I like phone X very much. Where can I buy it? I was searching in different stores and no one has even heard about it. Is your information bogus?</font><br>
<br>
A: 
Make sure to check whether your device is listed as 'Announced' in our specifications. It's important to keep in mind that some of the models in our catalog are announced by manufacturers, but are not yet produced, while others we have classified as rumored through other sources. <br />
<br />
Manufacturers will sometimes give vague release timeframes for devices, and more often than not will end up not sticking with them at all. This makes it very difficult if not impossible to determine the exact release dates of devices very far into the future. Rest assured, however, that once news surfaces about your particular device, its status will be updated accordingly.
</p>	
</div>
</div>
<div class="col-md-4">
 <div class="right-ads-squares">
              {% include "ads-squares.html"%}
              </div>
              <div class="news">
              <script type=text/javascript>
                $(function(){
                      $.ajax({
                        url: '/latest_news',
                        type: 'GET',
                        data: {
                           
                        },
                        success: relatedSuccess,
                       dataType: 'html'
                   });
                   });
                function relatedSuccess(data, textStatus, jqXHR)
                {
                  $('.news').html(data);
                }
                </script>
              </div>
              <div class="skycrapers1">
                {% include "skyscrapers.html"%}
              </div>
    </div>
</div>
</div>
{% endblock %}